.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.footballLogo{
  float: left;
  height: 42px;
  width: 42px;
}

.loadingOverlay{
  height: 100%;
  position: fixed !important;
  width: 100%;
  border: none !important;
  border-radius: 0px !important;
}

.subNav{
  width: 100%;
  margin-top: 3.6em !important;
  margin-bottom: 3em !important;
}